$custom-typography: mat-typography-config(
  $font-family: "Open Sans, sans-serif;",
);
@include mat-core($custom-typography);

body {
  margin: 0;
  font-family: Open Sans, sans-serif;
}

html,
body,
.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}
