<form (ngSubmit)="submitForm()" [formGroup]="orderItemForm">
  <div>
    <h2 fxFlex="auto">
      {{ "GENERAL.ADD" | translate }}
      {{ "ORDERS.FORM.ITEM" | translate | lowercase }}
    </h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider class="item-form__divider"></mat-divider>
  <mat-dialog-content class="item-form__content" fxLayout="column">
    <mat-form-field appearance="fill">
      <mat-label>{{ "ORDERS.FORM.SELECT_PRODUCT" | translate }}</mat-label>
      <input
        type="text"
        matInput
        [matAutocomplete]="auto"
        [formControl]="orderItemControl"
        required
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="getProductName"
        (optionSelected)="onProductSelected($event.option)"
      >
        <mat-option *ngFor="let option of filteredProducts" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "ORDERS.FORM.QUANTITY" | translate }}</mat-label>
      <input
        type="number"
        formControlName="quantity"
        matInput
        step="1"
        min="1"
        inputmode="numeric"
      />
      <mat-error
        *ngIf="orderItemForm.get('quantity')?.errors?.multiple as multiple"
        [innerHTML]="
          'ORDERS.ERROR_MESSAGES.IS_NOT_MULTIPLE'
            | translate: { quantity: multiple }
        "
      >
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "ORDERS.FORM.ORIGINAL_PRICE" | translate }}</mat-label>
      <input [value]="originalPrice" disabled matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "ORDERS.FORM.PRICE" | translate }}</mat-label>
      <input
        formControlName="price"
        type="number"
        (blur)="transformPrice()"
        (change)="calculateProfitability()"
        [(ngModel)]="formattedPrice"
        matInput
        required
      />
    </mat-form-field>
    <p #priceStatus>
      <b *ngIf="priceTextProfitability">
        {{
          "ORDERS.FORM.PRICE_PROFITABILITY"
            | translate: { status: priceTextProfitability }
        }}
      </b>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">
      {{ "GENERAL.CANCEL" | translate }}
    </button>
    <button
      [disabled]="orderItemForm.invalid"
      color="primary"
      mat-raised-button
      type="submit"
    >
      Salvar
    </button>
  </mat-dialog-actions>
</form>
