.item-form__divider {
  margin-right: calc(-1 * var(--dialog-padding));
  margin-left: calc(-1 * var(--dialog-padding));
}

.item-form__content {
  padding-top: var(--dialog-padding);
}

.item-form__status-very-good {
  color: #4caf50;
}

.item-form__status-good {
  color: #ff9800;
}

.item-form__status-bad {
  color: #f44336;
}
