.item-form__divider {
  margin-right: calc(-1 * var(--dialog-padding));
  margin-left: calc(-1 * var(--dialog-padding));
}

.item-form__content {
  padding-top: var(--dialog-padding);
}

.item-form__actions {
  display: flex;
  justify-content: space-between;
}

.status-very-good {
  color: #4caf50;
}

.status-good {
  color: #ff9800;
}

.status-bad {
  color: #f44336;
}
