<mat-nav-list class="sidenav">
  <div class="sidenav__header" fxLayout="row" fxLayoutAlign="center center">
    <img class="sidenav__header-icon" src="assets/images/icons/angular.png" />
    <h2 class="sidenav__header-title">
      {{ "GENERAL.TITLE" | translate | uppercase }}
    </h2>
  </div>
  <div class="sidenav__content">
    <ul class="sidenav__list">
      <li
        *ngFor="let item of navItems"
        class="sidenav__list-item"
        [routerLink]="item.routerLink"
        fxLayout="row"
        fxLayoutAlign="left center"
      >
        <mat-icon class="sidenav__item-icon" color="primary">
          {{ item.icon }}
        </mat-icon>
        <span>{{ item.name | translate }}</span>
      </li>
    </ul>
  </div>
</mat-nav-list>
