$sidenav-padding: 1rem;

.sidenav {
  background: var(--primary-color);
  width: var(--sidenav-width);
  height: 100%;
  position: fixed;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%),
    0 8px 10px -5px rgb(0 0 0 / 20%);
}

.sidenav__header {
  height: 80px;
  padding-left: $sidenav-padding;
  padding-right: $sidenav-padding;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.sidenav__header-icon {
  height: 40px;
}

.sidenav__header-title {
  top: 1px;
  position: relative;
  color: #fff;
  margin: 0;
}

.sidenav__divider {
  margin-left: $sidenav-padding;
  margin-right: $sidenav-padding;
}

.sidenav__list {
  list-style: none;
  padding-left: 0;
}

.sidenav__list-item {
  border-radius: 3px;
  height: 48px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: $sidenav-padding;
  margin: 0.5rem $sidenav-padding 0;
  transition: all 0.15s ease-in;

  &:hover {
    background: rgb(255 255 255 / 5%);
  }

  &.active {
    background: #fff;
    color: var(--primary-color);
  }

  > .sidenav__item-icon {
    min-width: 2.5rem;
  }

  > .sidenav__item-text {
    line-height: 25px;
    margin: 0;
  }
}
