.layout__container {
  height: 100%;
  background-color: rgb(245, 245, 248);
}

.layout__content {
  padding-left: var(--padding-gutter);
  padding-right: var(--padding-gutter);
}

@media (min-width: 1280px) {
  .layout__content {
    margin-left: var(--sidenav-width) !important;
  }
}
