<app-page-title>
  <div class="page-title__title">
    <mat-icon color="primary">shopping_cart</mat-icon>
    <span>
      {{ "GENERAL.ADD" | translate }}
      {{ "ORDERS.TITLE_SINGLE" | translate }}
    </span>
  </div>
</app-page-title>

<mat-card class="order-form__card">
  <form
    (ngSubmit)="submitForm()"
    [formGroup]="orderForm"
    fxLayout="column"
    fxLayoutGap="30px"
  >
    <div fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>{{ "ORDERS.FORM.SELECT_CLIENT" | translate }}</mat-label>
        <input
          type="text"
          matInput
          [matAutocomplete]="auto"
          [formControl]="orderControl"
          required
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="getClientName"
          (optionSelected)="onClientSelected($event.option)"
        >
          <mat-option *ngFor="let option of filteredClients" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div fxLayout="column" fxLayoutGap="10px">
        <table mat-table [dataSource]="dataSource" class="w-full">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              {{ "ORDERS.FORM.ITEM_NAME" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.product.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="original_price">
            <th mat-header-cell *matHeaderCellDef>
              {{ "ORDERS.FORM.ORIGINAL_PRICE" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.product.price }}
            </td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>
              {{ "ORDERS.FORM.PRICE" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.price }}
            </td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>
              {{ "ORDERS.FORM.QUANTITY" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.quantity }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div fxLayout="row" fxLayoutAlign="end center">
                <button
                  color="accent"
                  mat-button
                  (click)="onClickBtnEditItem(i, element)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  color="warn"
                  mat-button
                  (click)="onClickBtnDeleteItem(i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr class="mat-row order-form__table-empty" *matNoDataRow>
            <td class="mat-cell" colspan="5">
              {{ "ORDERS.FORM.ITEMS_EMPTY_TABLE" | translate }}
            </td>
          </tr>

          <tr mat-header-row *matHeaderRowDef="displayedProductColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedProductColumns"
          ></tr>
        </table>
        <div fxLayout="row">
          <button
            mat-button
            type="button"
            color="primary"
            (click)="onClickBtnAddItem()"
          >
            <mat-icon>add</mat-icon>
            {{ "GENERAL.ADD" | translate }} {{ "ORDERS.FORM.ITEM" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-button mat-dialog-close type="button" routerLink="/orders">
        {{ "GENERAL.CANCEL" | translate }}
      </button>
      <button
        [disabled]="orderForm.invalid"
        color="primary"
        mat-raised-button
        type="submit"
      >
        Salvar
      </button>
    </div>
  </form>
</mat-card>
