@import "./styles//core.scss";

:root {
  // Colors
  --primary-color: #3f51b5;
  --accent-color: #ff4081;

  // Generic
  --padding-gutter: 2rem;

  // Sidenav
  --sidenav-width: 280px;

  // Card
  --card-padding: 16px;

  // Dialog
  --dialog-padding: 24px;
}
